{% extends 'search/templates.html' %}
{% load static %}

{% block title %}
    Search
{% endblock %}

{% block head %}
    <style>
        body{
            background:#1C0B19;
            margin:0;
            padding:0;
        }
        #result .no-item{
            text-align:center;
            color:#FFF;
        }
        #result ul.items{
            display:grid;
            grid-template-columns:1fr 1fr 1fr;
            grid-auto-rows:auto;
            list-style:none;
            margin:0 5rem;
            padding:0;
            grid-gap:2rem;
        }
        #result ul.items a li.item-li{
            display:flex;
            width:100%;
            height:100%;
            flex-direction:column;
            align-items:center;
            justify-content:center;
            background:#FFF;
            color:#000;
            min-height:400px;
        }

        #result ul.items a li.item-li .container{
            display:flex;
            align-items:center;
            flex-direction:column;
            margin:2rem auto;
        }

        #result ul.items a li.item-li .container .img-source{
            margin-top:1rem;
        }

        #result ul.items a li.item-li .container .author-desc{
            margin-top:1rem;
        }

        #result ul.items a {
            text-decoration:none;
        }
        #result ul.items a li.item-li *{
            margin:0;
            text-align:center;
        }

        #result ul.items a li.item-li h1{
            font-size:1.5rem;
            color:#3066BE;
        }
        #result ul.items a li.item-li ul.author{
            list-style:none;
            padding:0;
            font-size:1.5rem;
            color:#3066BE;
        }
        .header{
            display:flex;
            justify-content:center;
            background:#FFF;
        }

        .header h1.header-text{
            font-size:2.5rem;
            color:#3066BE;
        }

        .search-box{
            display:flex;
            justify-content:center;
            background:#FFF;
            padding:2rem;
        }
        #result{
            margin-top:2rem;
        }
        @media(max-width:768px){
            #result ul.items{
                grid-template-columns:1fr;
            }
        }
    </style>
{% endblock %}

{% block body %}
    <div class="header">
        <h1 class="header-text">
            CariBuku
        </h1>
    </div>
    <div class="search-box">
        <input type="text" id="user-input" placeholder="Search">
    </div>
    <div id="result"></div>

    <script>
        const user_input = $("#user-input");
        const result = $("#result")
        const endpoint = '/api/'
        const delay_by_in_ms = 700

        let scheduled_function = false
        
        let ajax_call = function(endpoint, request_parameters){
            $.getJSON(endpoint, request_parameters)
                .done(response => {
                    result.html(response["render_html"])
                    result.fadeTo('slow', 1)
                })
                .fail(response => {
                    console.log(response)
                })
        }

        user_input.on('keyup', function(){
            const request_parameters = {
                q: $(this).val()
            }

            if(scheduled_function){
                clearTimeout(scheduled_function)
            }

            scheduledFunction = setTimeout(ajax_call, delay_by_in_ms, endpoint, request_parameters)
        })
    </script>
{% endblock %}