{% if request.totalItems == 0 %}
    <div class="no-item">
        <h1>No items found</h1>
    </div>
{% else %}
    <ul class="items">
        {% for item in request.items %}
            <a href="{{ item.volumeInfo.previewLink }}">
                <li class="item-li">
                    <div class="container">
                        <h1>
                            {{ item.volumeInfo.title|truncatechars_html:20 }}
                        </h1>
                        <div class="img-source">
                            <img src="{{ item.volumeInfo.imageLinks.smallThumbnail}}" alt="{{ item.volumeInfo.title }}"/>
                        </div>
                        <div class="author-desc">
                            <h2 class="author-text">
                                Author(s):
                            </h2>
                            <ul class="author">
                                {% if item.volumeInfo.authors %}
                                    {% for author in item.volumeInfo.authors %}
                                        <li>{{ author|truncatechars_html:20 }}</li>
                                    {% endfor %}
                                {% else %}
                                    <li>-</li>
                                {% endif %}
                            </ul>
                            
                        </div>
                    </div>
                </li>        
            </a>
        {% endfor %}
    </ul>
{% endif %}